# Dependencies
node_modules/
**/node_modules/

# Build folders
build/
**/build/
dist/
**/dist/

# Environment files
.env
**/.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db